# system files
.DS_Store

# folder with example files for testing
testing/*

# pycache
scripts/__pycache__/*
tests/__pycache__/*

# conda env, snakemake stuff
.venv/*
pipetest/*
.snakemake/*

# SRA xml files
sra/SRR*
